/*Generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0077B6, #2A9D8F);
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin: 10px 0;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;
    }
}

/*Header*/
.header {
    width: 100%;
    padding: 10px 15px;
    background-color: #00283d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p {
    margin: 0;
}
@media (min-width: 768px) {
    .header {
        padding: 15px 50px;
    }
     
}

/*Main*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    box-sizing: border-box;
}

/*Intro*/
.intro {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: max-content;
}
.intro-titulo {
    font-size: 3em;
    margin-bottom: 20px;
    max-width: 100%;
}


/*Footer*/
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #555;
}

@media (min-width: 768px) {
    footer{
        display: flex;
        justify-content: space-between;
        padding: 15px 50px;
    }
     
}

/*Botones*/
button {
    background-color: #00283d9f;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 80%;
    max-width: 300px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover {
    background-color: #005f73;
    transform: translateY(-2px);
}

/*Hidden*/
.hidden {
    display: none;
}


/*Juego*/

#game{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1100px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin : 0 auto;
}

#game.hidden {
    display: none;
}

.paises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.carta {
    height: auto;
    padding: 15px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.carta img {
    max-width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 8px;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    #game {
        max-width: 1400px;
    }

   .paises-container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
   }

   .carta {
    flex: 1;
        max-width: 500px;
   }

   .carta img {
        max-width: 450px;
        height: auto;
   }

   .opciones {
        flex-direction: column;
        gap: 15px;
   }
}

/* ---Restart--- */
#restart {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: max-content;
}

.perdiste-titulo {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgba(139, 33, 33, 0.884);
}

.restart-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.derrota-info {
    font-size: 1.2em;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .perdiste-titulo {
        font-size: 2.5em;
    }
    .derrota-info {
        font-size: 1.5em;
    }
}